[Desktop Entry]
Type=Application
Exec=/opt/bin/update-x11-bg.sh monitor
Hidden=false
X-GNOME-Autostart-enabled=true
Name=Update X11 bg with current info
